.tools/
.work/
ports/*/original/
ports/*/roms/
ports/*/iso/
ports/*/assets-original/
ports/*/build/
ports/*/build-web/
ports/*/dist/
__pycache__/
*.pyc
*.iso
*.wbfs
*.rvz
*.wad
*.rom
*.z64
*.n64
*.v64
